<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Othello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Chargement Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fade"></div>
    <!-- Formulaire de login en popup-->
    <div class="popup_block" id="hideshow">
          <div id="popup" id="hideshow">
            <form action="" id="loginform">
              <div class="form-group">
                <label for="username">Pseudo</label>
                <input type="text" name= "login" class="form-control login-field" id="username">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" name= "mail" class="form-control" id="exampleInputEmail1">
              </div>
              <input type="submit" class="btn btn-primary btn-lg btn-block" onclick="hideDiv('hideshow');" value="Connexion">
            </form>
          </div>
    </div>
    <div class="container">
          <h1>Othello</h1>

          <!-- affichage messages -->
          <div id="userslist">
            <div class="row" id="user">
            </div>
          </div>
          <div id="messages">
            <div class="message alert alert-info" id="msgtpl" style="display:none">
            <img class="img-rounded img-responsive"  src="{{{user.avatar}}}">
              <div class="info">
                <p><strong>{{user.username}}</strong></p>
                <span class ="date">{{h}}:{{m}}</span>
                <p>{{message}}</p>
              </div>
            </div>
          </div>
          <!-- Formulaire envoi message -->
          <form  class="form-inline" role="form" action="" id="form">
            <div class="form-group">
              <input type="text" id= "message" class="form-control" id="message">
            </div>
            <button type="submit" id="send" class="btn btn-primary">Envoyer</button>
          </form>
      </div>
    </div>

    <footer>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.stacktable.js"></script>
    <script src="js/application.js"></script>
    <script src="js/popdown.js"></script>
    <!-- Chargement de la partie client-->
    <script src="http://localhost:3300/socket.io/socket.io.js"></script>
    <script src="node_js/client.js"></script>
    <script src="node_js/mustache.js"></script>
  </body>
</html>